@import "tailwindcss";


.inset-deep-shadow {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rr-180 {
    transform: rotate(180deg);
}

.rr-90 {
    transform: rotate(90deg);
}

.rr-270 {
    transform: rotate(270deg);
}

.rr-0 {
    transform: rotate(0deg);
}